{% extends "base.html" %}
{% block title %}{{ blog.blog }}{% endblock %}
{% load thumbnail %}
{% block content %}
<h1>{{ blog.blog }}</h1>
<p><div class="fb-like" data-send="false" data-width="450" data-show-faces="false" data-action="recommend"></div></p>
<small>{{ blog.fecha }} - {{ blog.autor }}</small>
{% if blog.imagen %}
    {% thumbnail blog.imagen "300" crop="center" as im %}
    <img class="img-polaroid" style="float:left; margin:5px;"  alt="Foto - {{ blog.blog }}" title="{{ blog.blog }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
{% endif %}
{{ blog.texto|safe }}
<p>&nbsp;<p>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'hijxsdeperu';
    /* var disqus_developer = 1; */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{% endblock %}
