{% extends "base.html" %}
{% block title %}{{ blog.blog }}{% endblock %}
{% load thumbnail %}
{% block content %}
<h1>{{ blog.blog }}</h1>
<div><a href="https://twitter.com/share" class="twitter-share-button" data-via="HijxsdePeru" data-lang="es">Twittear</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<br/>
<div class="fb-like" data-layout="standard" data-action="recommend" data-show-faces="false" data-share="true"></div></div>
<small>{{ blog.fecha }} - {{ blog.autor }}</small>
{% if blog.imagen %}
    {% thumbnail blog.imagen "300" crop="center" as im %}
    <img class="img-polaroid" style="float:left; margin:5px;"  alt="Foto - {{ blog.blog }}" title="{{ blog.blog }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
{% endif %}
{{ blog.texto|safe }}
<p>&nbsp;<p>
<div class="clearfix"></div>
<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn btn-info modal-prev"><i class="icon-arrow-left icon-white"></i> Anterior</a>
        <a class="btn btn-primary modal-next">Siguiente <i class="icon-arrow-right icon-white"></i></a>
        <!-- <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000"><i class="icon-play icon-white"></i> Slideshow</a>-->
        <!-- <a class="btn modal-download" target="_blank"><i class="icon-download"></i> Download</a>-->
    </div>
</div>

<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
{% for foto in fotos %}
    {% thumbnail foto.imagen "150" crop="center" as im %}
    <a data-gallery="gallery" href="/media/{{ foto.imagen }}" title="{{ foto.foto }}"><img class="img-polaroid" style="float:left; margin:5px;" alt="{{ foto.foto }}" title="{{ foto.foto }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
    {% endthumbnail %}
{% empty %}
    <!-- Sorry, no pictures! -->
{% endfor %}
</div>

<p>&nbsp;<p>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'hijxsdeperu';
    /* var disqus_developer = 1; */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
{% endblock %}
