{% extends "base.html" %}
{% block title %}{{ doc.doc }}{% endblock %}
{% load thumbnail %}
{% block content %}
<h1>{{ doc.doc }}</h1>
<p><a href="https://twitter.com/share" class="twitter-share-button" data-via="HijxsdePeru" data-lang="es">Twittear</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<div class="fb-like" data-send="false" data-width="450" data-show-faces="false" data-action="recommend"></div></p>
<p><cite>{{ doc.fecha }} - {{ doc.autor }}</cite></p>
{% if doc.portada %}
    {% thumbnail doc.portada "300" crop="center" as im %}
    <img align="left" alt="Foto - {{ doc.doc}}" title="{{ doc.doc }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
{% endif %}
{{ doc.descripcion|safe }}
{% if doc.archivo %}
<p>
    Descargar el documento: <a href="/media/{{ doc.archivo }}">{{ doc.archivo }}</a>
</p>
{% endif %}
{% endblock %}
