{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
{% for doc in object_list %}
    <h2><a href="/docs/{{ doc.iddoc }}">{{ doc.doc }}</a></h2>
    {% if doc.portada %}
    <figure>
    {% thumbnail doc.portada "190x130" crop="center" as im %}
    <img align="left" alt="Foto - {{ doc.doc }}" title="{{ doc.doc }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    </figure>
    {% endif %}
    <cite>{{ doc.fecha }} - {{ doc.autor }}</cite>
    <p>{{ doc.descripcion|safe|truncatewords_html:50 }}</p>
    <p><a href="/media/{{ doc.archivo }}">descargar</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/docs/{{ doc.iddoc }}">ver m&aacute;s...</a></p>
    <hr>
{% endfor %}
{% endblock %}
