{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
{% for noticia in object_list %}
    <h2>{{ noticia.noticia }}</h2>
    {% if noticia.imagen %}
    <figure>
    {% thumbnail noticia.imagen "190x130" crop="center" as im %}
    <img align="left" alt="Foto - {{ noticia.noticia }}" title="{{ noticia.noticia }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    </figure>
    {% endif %}
    <cite>{{ noticia.fecha }} - {{ noticia.autor }}</cite>
    <p>{{ noticia.texto|striptags|truncatewords_html:50 }}</p>
    <p><a href="/noticias/{{ noticia.idnoticia }}">ver m&aacute;s</a></p>
    <hr>
{% endfor %}
{% endblock %}
