{% extends "base.html" %}
{% load thumbnail %}
{% load embed_video_tags %}
{% block content %}
{% for perfil in object_list %}
    <h2>{{ perfil.nombre }}</h2>
    {% if perfil.imagen %}
    {% thumbnail perfil.imagen "190x130" crop="center" as im %}
    <img alt="Foto - {{ perfil.perfil}}" title="{{ perfil.perfil}}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    {% endif %}
        <p>{{ perfil.bio|safe }}</p>
        {% with perfil_video=perfil.video|default_if_none:"" %}
            {% video perfil_video 'small' %}
        {% endwith %}
    <hr/>
{% endfor %}
<p><a href="{% url "carta" %}">Escribir o enviar cartas...</a></p>
{% endblock %}
