{% extends "base.html" %}
{% load dumper %} 
{% load thumbnail %}
{% block content %}
{% for row in blogs %}
    <h2><a href="{{ row.get_absolute_url }}">{{ row.blog }}</a></h2>
    {% if row.imagen %}
    {% thumbnail row.imagen "190x130" crop="center" as im %}
    <img alt="Foto - {{ row.row}}" title="{{ row.row}}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    {% endif %}
        <cite>{{ row.fecha }} - {{ row.autor }}</cite>
        <p>{{ row.texto|safe|truncatewords_html:50 }}</p>
    <hr/>
{% endfor %}
{% for row in noticias %}
    <h2><a href="{{ row.get_absolute_url }}">{{ row.noticia }}</a></h2>
    {% if row.imagen %}
    {% thumbnail row.imagen "190x130" crop="center" as im %}
    <img alt="Foto - {{ row.row}}" title="{{ row.row}}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
    {% endthumbnail %}
    {% endif %}
        <cite>{{ row.fecha }} - {{ row.autor }}</cite>
        <p>{{ row.texto|safe|truncatewords_html:50 }}</p>
    <hr/>
{% endfor %}
{% endblock %}
