<!doctype html>
<html class="no-js" lang="en">
<head id="hijosdeperu.org" data-template-set="html5-reset">
    <meta charset="utf-8">
    <title>Hij@s de Perú - Contra toda impunidad</title>
    <meta name="title" content="Hij@s de Perú - Contra toda impunidad" />
    <meta name="keywords" content="Hij@s de Perú, hijxs, hij@s, hijos, hijas, peru, impunidad" />
    <meta name="description" content="Hij@s de Perú" />
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/static/css/hijxs.css" rel="stylesheet" type="text/css" />
    <!-- script src="/static/js/modernizr-1.7.min.js"></script -->
</head>
<body>
<div id="fb-root" style="display: none"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
/*
      appId      : 'YOUR_APP_ID', // App ID
      channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
*/
      status     : true,
      cookie     : true,
      xfbml      : true
    });
  };
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>
<div class="wrapper">
<header>
    <h1><a href="/"><img src="/static/img/bandera2.png"  alt="Hijos / Hijas de Perú" title="Hijos / Hijas de Perú" width="600" height="205" /></a></h1>
    <nav>
        <ol>
        <li><a href="/">Inicio</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/docs">Documentos</a></li>
        </ol>
    </nav>
</header>
<article>
{% block content %}
Hijxs de Perú
{% endblock %}
</article>
<aside>
    <h1> Blog Hij@s </h1>
    <ul>
    {% for row in blogs %}
        {% spaceless %}
        <li><a href="/blogs/{{ row.idblog }}">{{ row.blog }}</a></li>
        {% endspaceless %}
    {% endfor %}
    </ul>
    <a href="/blogs">ver m&aacute;s</a>
    <p>&nbsp;</p>
    <h1>Enlaces </h1>
    <ul>
    {% for row in enlaces %}
        {% spaceless %}
        <li>{{ row.enlace }}<br/>
        <a href="http://{{ row.url }}">{{ row.url }}</a></li>
        {% endspaceless %}
    {% endfor %}
    </ul>
</aside>
<aside>
<div class="fb-activity" data-site="www.hijosdeperu.org" data-width="175" data-height="300" data-header="true" data-recommendations="true"></div>
</aside>
<footer>
<nav>
<ol>
    <li><a  href="/">Hij@s de Per&uacute;</a></li>
    <li><a href="mailto:hijos@hijosdeperu.org">Cont&aacute;ctenos</a></li>
</ol>
    <cite>Contra toda Impunidad</cite>
</nav>
</footer>
</div>
</body>
</html>
