{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
    {% for row in blogs %}

            {% if forloop.counter0|divisibleby:"3" %}<div class="row-fluid">{% endif %}
            <div class="span4">
              <h3><a href="/blogs/{{ row.idblog }}">{{ row.blog|truncatewords:7}}</a></h3>
              <p>
              {% if row.imagen %}
                {% thumbnail row.imagen "133x91" crop="center" as im %}
                <a href="/blogs/{{ row.idblog }}"><img class="img-polaroid" style="float:left" alt="Foto {{ row.blog }}" title="{{ row.blog }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></a>
                {% endthumbnail %}
              {% endif %}
              {{ row.resumen|safe|truncatewords_html:50 }}
              </p>
              <p><a class="btn" href="/blogs/{{ row.idblog }}">ver m&aacute;s &raquo;</a></p>
              <!-- <p><cite>{{ row.fecha|date:"" }}</cite></p> -->
            </div><!--/span-->
            {% if forloop.last or forloop.counter|divisibleby:"3" %}</div><!--/row-->{% endif %}
    {% endfor %}
    {% for row in paginas %}
            {% if forloop.counter0|divisibleby:"3" %}<div class="row-fluid">{% endif %}
            <div class="span4">
              <h3><a href="/pagina/{{ row.idpagina }}">{{ row.pagina|truncatewords:7}}</a></h3>
              <p>{{ row.descripcion|safe|truncatewords_html:50 }}</p>
              <p><a class="btn" href="/pagina/{{ row.idpagina }}">ver m&aacute;s &raquo;</a></p>
              <!-- <p><cite>{{ row.fecha|date:"" }}</cite></p> -->
            </div><!--/span-->
            {% if forloop.last or forloop.counter|divisibleby:"3" %}</div><!--/row-->{% endif %}
<!--
              {% if row.foto %}
                  {% thumbnail row.foto "190x130" crop="center" as im %}
                  <figure><a href="/pagina/{{ row.idpagina }}"><img alt="Foto - {{ row.pagina }}" title="{{ row.pagina }}" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/></a></figure>
                  {% endthumbnail %}
              {% endif %}                 
-->
    {% endfor %}
{% endblock %}
