{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
{% if row %}
          <h2>{{ row.pagina }}</h2>
            {% if row.imagen %}
                {% thumbnail row.imagen "190x190" crop="center" as im %}
                <figure><img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/></figure>
                {% endthumbnail %}
            {% endif %}
            <p>{{ row.descripcion|linebreaks }}</p>
{% else %}
    {% for row in paginas %}
        <h2>{{ row.pagina }}</h2>
              {% if row.foto %}
                  {% thumbnail row.foto "190x130" crop="center" as im %}
                  <figure><img alt="Foto" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/></figure>
                  {% endthumbnail %}
              {% endif %}                 
        <p>{{ row.descripcion|truncatewords_html:50 }}</p>
        <p><a href="/pagina/{{ row.idpagina }}">ver m&aacute;s</a></p>
        <hr/>
    {% endfor %}
    {% for row in blogs %}
       <h2>{{ row.blog }}</h2>
        {% if row.imagen %}
             {% thumbnail row.imagen "190x130" crop="center" as im %}
             <figure><img alt="Foto" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"></figure>
             {% endthumbnail %}
        {% endif %}
        <p>{{ row.fecha|date:"" }}</p>
        <p>{{ row.texto|truncatewords_html:50 }}..</p>
        <a href="/blogs/{{ row.idblog }}">ver m&aacute;s</a>
        <hr/>
    {% endfor %}
{% endif %}    
{% endblock %}
